attrs==20.3.0
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
idna==2.10
iniconfig==1.1.1
lxml==4.6.3
packaging==20.9
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==6.2.2
requests==2.25.1
ruamel.yaml==0.17.2
ruamel.yaml.clib==0.2.2
soupsieve==2.2.1
toml==0.10.2
urllib3==1.26.4
vext==0.7.6
vext.gi==0.7.4
