.news-item {
	padding: 5px;
	margin-bottom: 2px;
	background-color: #f6f6ef;
	min-height: 60px
}
.news-item-title {
	font-size: 16px;
}
.news-item-commentcount {
	padding: 5px;
	background-color: #ffb64d;
}
.comment-item {
	padding: 10px;
	border-left: 4px solid #f00;
	margin-left: -4px;
	margin-bottom: 5px;
	background-color: #f6f6ef;
	box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.18);
}

.comment-item-nested-0 .comment-item { border-left-color: #f44336 }
.comment-item-nested-1 .comment-item { border-left-color: #d500f9 }
.comment-item-nested-2 .comment-item { border-left-color: #304ffe }
.comment-item-nested-3 .comment-item { border-left-color: #0288d1 }
.comment-item-nested-4 .comment-item { border-left-color: #26A69A }
.comment-item-nested-5 .comment-item { border-left-color: #00c853 }
.comment-item-nested-6 .comment-item { border-left-color: #fff3e0 }
.comment-item-nested-7 .comment-item { border-left-color: #8d6e63 }

.comment-item-toggle {
	padding: 3px;
}
.comment-replies {
	border-left: 1px solid #ccc;
	margin-left: 10px;
}

.comment-item-dead {
	color: #999;
}

.thread-comments {
	padding-left: 5px;
	padding-right: 5px;
}
.thread-header {
	background-color: #ffb64d;
	padding: 8px;
}
.thread-back {
	padding: 5px;
	margin-left: 0px;
}
.thread-title {
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 16px;
}

.rotate {
	-gtk-icon-transform: rotate(0.5turn);
}
