@define-color hn_orange #ffb64d;
@define-color bg_grey #f6f6ef;

@define-color nested_0 #f44336;
@define-color nested_1 #d500f9;
@define-color nested_2 #304ffe;
@define-color nested_3 #0288d1;
@define-color nested_4 #26A69A;
@define-color nested_5 #00c853;
@define-color nested_6 #fff3e0;
@define-color nested_7 #8d6e63;

.news-item {
	padding: 5px;
	margin-bottom: 2px;
	background-color: @bg_grey;
	min-height: 60px
}
.news-item-title {
	font-size: 16px;
}
.news-item-commentcount {
	padding: 5px;
	background-color: @hn_orange;
}
.comment-item-body {
	margin-left: -3px;
	margin-right: 5px;
	border-left: 5px solid #f00;
	padding: 10px;
	background-color: @bg_grey;
	box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.18);
	margin-bottom: 5px;
}

.comment-item-time_user { margin-bottom: 10px; }
.comment-item-nested-0 .comment-item-body { border-left-color: @nested_0}
.comment-item-nested-1 .comment-item-body { border-left-color: @nested_1}
.comment-item-nested-2 .comment-item-body { border-left-color: @nested_2}
.comment-item-nested-3 .comment-item-body { border-left-color: @nested_3}
.comment-item-nested-4 .comment-item-body { border-left-color: @nested_4}
.comment-item-nested-5 .comment-item-body { border-left-color: @nested_5}
.comment-item-nested-6 .comment-item-body { border-left-color: @nested_6}
.comment-item-nested-7 .comment-item-body { border-left-color: @nested_7}

.comment-item-nested-0 .comment-item-time_user { color: @nested_0 }
.comment-item-nested-1 .comment-item-time_user { color: @nested_1 }
.comment-item-nested-2 .comment-item-time_user { color: @nested_2 }
.comment-item-nested-3 .comment-item-time_user { color: @nested_3 }
.comment-item-nested-4 .comment-item-time_user { color: @nested_4 }
.comment-item-nested-5 .comment-item-time_user { color: @nested_5 }
.comment-item-nested-6 .comment-item-time_user { color: @nested_6 }
.comment-item-nested-7 .comment-item-time_user { color: @nested_7 }

.comment-item-nested-0 .comment-replies {border-left-color: alpha(@nested_0, 0.2)}
.comment-item-nested-1 .comment-replies {border-left-color: alpha(@nested_1, 0.2)}
.comment-item-nested-2 .comment-replies {border-left-color: alpha(@nested_2, 0.2)}
.comment-item-nested-3 .comment-replies {border-left-color: alpha(@nested_3, 0.2)}
.comment-item-nested-4 .comment-replies {border-left-color: alpha(@nested_4, 0.2)}
.comment-item-nested-5 .comment-replies {border-left-color: alpha(@nested_5, 0.2)}
.comment-item-nested-6 .comment-replies {border-left-color: alpha(@nested_6, 0.2)}
.comment-item-nested-7 .comment-replies {border-left-color: alpha(@nested_7, 0.2)}

.comment-item-toggle {
	padding: 3px;
}
.comment-replies {
	border-left: 1px solid #ccc;
	padding-left: 8px
}

.comment-item-dead {
	color: #999;
}

.thread-complete {
	background-color: white;
}
.thread-comments {
	padding-left: 5px;
	margin-left: 3px;
	margin-right: 3px;
}
.thread-header {
	background-color: @hn_orange;
	padding: 8px;
}
.thread-back {
	padding: 5px;
	margin-left: 0px;
}
.thread-title {
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 16px;
}

.rotate {
	-gtk-icon-transform: rotate(0.5turn);
}

.thread-reply-action label {
	color: white;
}
.thread-reply-action {
	margin-bottom: 10px;
	margin-right: 10px;
	background-color: #ff5252;
	box-shadow: 0px 4px 4px rgba(0,0,0, 0.3);
	padding: 12px;
	border: 0px;
}
.flat {
	border: 0px;
	padding: 0px;
    	background-color: transparent;
}
.flat:hover, .flat:checked{
    background-color: transparent;
}
.flat:active {
    background-color: rgba(0,0,0,0.2);
}
.round {
	border-radius: 50px;
}
